.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.title {
  margin-bottom: 24px !important;
}

.columns {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  flex-wrap: wrap;
}
